.container {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.button {
    text-transform: lowercase;
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #222222;
    background-color: white;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.header-title h1   {
    font-size: 48px;
    font-weight: bold;
}

.header-logo {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.home-greetings { 
    font-size: 72px;
    text-align: center;
}
.home-greetings h1 {
    font-size: 108px;
    color:#9D7AFF ;
}

.home {
    margin-top: 100px;
    display: flex;
    max-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-description {
    font-size: 28px;
    text-align: center;
    line-height: 150%;
}

.home-backgroundImage {
    max-width: 600px;
    position: absolute;
    right: 100px;
    z-index: -1;
    filter: blur(4px);
    pointer-events: none;
}

.bounce-box {
    animation: smoothMove 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@keyframes smoothMove {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30px); /* Дистанция перемещения */
    }
}
